
.img-sphere {
	cursor:pointer;
	position: absolute;
	left: 50px;
	top: 50px;
	z-index:0
}

.img-line {
	cursor:pointer;
	position: absolute;
	left: 60px;
	top: 60px;
	z-index:1;
}

.img-triangle {
	cursor:pointer;
	position: absolute;
	left: 70px;
	top: 70px;
	z-index:2
}

.img-boy {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index:3
}

.img-cat {
	cursor:pointer;
	position: absolute;
	left: 150px;
	top: 150px;
	z-index:4
}

.img-bird {
	cursor:pointer;
	position: absolute;
	left: 150px;
	top: 200px;
	z-index:5
}
